body {
    background-color: lightblue;
}

.about h2:hover, .about p:hover {
    background-color:rgb(211, 255, 211);
    color:midnightblue;
    font-weight:600;
    font-size:1.1rem;
}

h1 {
    color: darkblue;
    text-align: center;
}
hr {
    border: 2px double darkblue;
}
main {
    margin: 10px;
    padding: 20px;
    padding-top:10px;
    background-color: aliceblue;
    color:darkblue;
    font-family: Arial, Helvetica, sans-serif;
}

.genre-desc p:hover, .genre-desc h2:hover {
    background-color: cornsilk;
    line-height:2rem;
    margin:10px;
}

ul li {
    font-size:1rem;
    font-weight:400;
    padding:3px;
    line-height:1.2rem;
    margin:10px;
}

ul li:focus, ul li:hover {
    font-size:1.1rem;
    line-height:1.5rem;
    background-color:cornsilk;
}

p {
    font-size:18px;
    font-weight:lighter;
}
.copyright {
    display:inline;
    text-align: justify;
    font-size: 10px;
    color: darkblue;
}

footer > nav {
    display: inline-block;
    text-align: center;
    width: 100%;
}

footer > nav > a {
    display: inline-block;
    text-align:center;
    padding:10px;
    margin: 20px;
    border: 2px dashed darkblue;
    border-radius:15px;
    height:30px;
    color:darkblue;
    font-weight:bolder;
    background-color: aliceblue;
}
footer > nav > a:hover {
    background-color: darkblue;
    color: white;
    text-decoration:none;
}
footer > nav > a:active {
    color: darkblue;
    text-decoration:underline;
}